In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import traceback

In [2]:
city_data_df = pd.read_csv("WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Weather,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,0,Zhangye,CN,2020-04-25 00:13:22,38.93,100.45,49.15,clear sky,17,0,6.02,0.0,0.0
1,1,Rikitea,PF,2020-04-25 00:12:56,-23.12,-134.97,76.98,overcast clouds,68,96,8.50,0.0,0.0
2,2,Provideniya,RU,2020-04-25 00:14:14,64.38,-173.30,29.34,clear sky,92,1,10.16,0.0,0.0
3,3,Ushuaia,AR,2020-04-25 00:16:52,-54.80,-68.30,37.40,shower rain,64,75,9.17,0.0,0.0
4,4,Henties Bay,NaN,2020-04-25 00:16:52,-22.12,14.28,57.00,broken clouds,96,66,1.01,0.0,0.0

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Weather        object
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Rain          float64
Snow          float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
rainy = city_data_df.loc[(city_data_df["Rain"] >= 0)]
snowy = city_data_df.loc[(city_data_df["Snow"] >= 0)]

In [6]:
snowy

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Weather,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,0,Zhangye,CN,2020-04-25 00:13:22,38.93,100.45,49.15,clear sky,17,0,6.02,0.0,0.0
1,1,Rikitea,PF,2020-04-25 00:12:56,-23.12,-134.97,76.98,overcast clouds,68,96,8.50,0.0,0.0
2,2,Provideniya,RU,2020-04-25 00:14:14,64.38,-173.30,29.34,clear sky,92,1,10.16,0.0,0.0
3,3,Ushuaia,AR,2020-04-25 00:16:52,-54.80,-68.30,37.40,shower rain,64,75,9.17,0.0,0.0
4,4,Henties Bay,NaN,2020-04-25 00:16:52,-22.12,14.28,57.00,broken clouds,96,66,1.01,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,584,Yinchuan,CN,2020-04-25 00:15:22,38.47,106.27,57.09,clear sky,13,0,6.60,0.0,0.0
585,585,San Javier,ES,2020-04-25 00:19:09,37.81,-0.84,60.80,broken clouds,82,75,8.05,0.0,0.0
586,586,Sangar,RU,2020-04-25 00:19:10,63.92,127.47,32.83,clear sky,89,2,5.41,0.0,0.0
587,587,Swan Hill,AU,2020-04-25 00:17:48,-35.34,143.55,66.09,broken clouds,46,75,8.88,0.0,0.0
588,588,Shangrao,CN,2020-04-25 00:19:10,28.45,117.97,61.25,overcast clouds,61,100,1.05,0.0,0.0

In [7]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
print(f"Great! We are honing in on your dream destination.  Before we continue, do you want us to rule out cities that have had rain recently?")
rainy = str(input("(yes/no) "))
snowy = str(input("Got it! Now, how about snow? (yes/no) "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 50
Great! We are honing in on your dream destination.  Before we continue, do you want us to rule out cities that have had rain recently?
(yes/no) yes
Got it! Now, how about snow? (yes/no) yes

In [8]:
# Neither rain nor snow.
if rainy == "no" and snowy == "no":
    vacation_cities = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                 (city_data_df["Max Temp"] >= min_temp) & 
                                 (city_data_df["Snow"] == 0) & 
                                 (city_data_df["Rain"] == 0)]  
#Rain, no snow. 
elif rainy == "yes" and snowy == "no": 
    vacation_cities = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                   (city_data_df["Max Temp"] >= min_temp) & 
                                   (city_data_df["Snow"] == 0) & 
                                   (city_data_df["Rain"] >= 0)]     
#Rain or snow poss.
elif rainy == "yes" and snowy == "yes":
    vacation_cities = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                   (city_data_df["Max Temp"] >= min_temp) & 
                                   (city_data_df["Snow"] >= 0) & 
                                   (city_data_df["Rain"] >= 0)] 
# Snow, no rain. 
else:                                    
    vacation_cities = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                   (city_data_df["Max Temp"] >= min_temp) & 
                                   (city_data_df["Snow"] >= 0) & 
                                   (city_data_df["Rain"] == 0)]

In [9]:
vacation_cities

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Weather,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,0,Zhangye,CN,2020-04-25 00:13:22,38.93,100.45,49.15,clear sky,17,0,6.02,0.0,0.0
3,3,Ushuaia,AR,2020-04-25 00:16:52,-54.80,-68.30,37.40,shower rain,64,75,9.17,0.0,0.0
6,6,Punta Arenas,CL,2020-04-25 00:16:53,-53.15,-70.92,41.00,few clouds,65,20,14.99,0.0,0.0
7,7,Yevlax,AZ,2020-04-25 00:16:53,40.61,47.15,42.80,overcast clouds,93,90,3.44,0.0,0.0
16,16,Jamestown,US,2020-04-25 00:16:02,42.10,-79.24,46.99,broken clouds,80,75,8.05,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,569,Vostochnyy,RU,2020-04-25 00:19:07,55.82,37.87,42.01,scattered clouds,93,40,6.71,0.0,0.0
572,572,Yumen,CN,2020-04-25 00:19:07,40.28,97.20,48.61,clear sky,16,0,4.05,0.0,0.0
574,574,Roma,US,2020-04-25 00:17:55,43.21,-75.46,48.20,overcast clouds,66,90,3.36,0.0,0.0
583,583,Udachnyy,RU,2020-04-25 00:16:19,66.42,112.40,37.40,broken clouds,51,82,6.71,0.0,0.0
586,586,Sangar,RU,2020-04-25 00:19:10,63.92,127.47,32.83,clear sky,89,2,5.41,0.0,0.0

In [10]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = vacation_cities[["City", "Country", "Max Temp", "Weather", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp          Weather    Lat     Lng Hotel Name
0        Zhangye      CN     49.15        clear sky  38.93  100.45
3        Ushuaia      AR     37.40      shower rain -54.80  -68.30
6   Punta Arenas      CL     41.00       few clouds -53.15  -70.92
7         Yevlax      AZ     42.80  overcast clouds  40.61   47.15
16     Jamestown      US     46.99    broken clouds  42.10  -79.24
18        Albany      US     48.20       few clouds  42.60  -73.97
24      Vanavara      RU     44.20  overcast clouds  60.34  102.28
26  Rio Gallegos      AR     41.00    broken clouds -51.62  -69.22
30       Margate      GB     48.00        clear sky  51.38    1.39
38        Kodiak      US     44.60       light rain  57.79 -152.41

In [11]:
hotel_df

,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
0,Zhangye,CN,49.15,clear sky,38.93,100.45,
3,Ushuaia,AR,37.40,shower rain,-54.80,-68.30,
6,Punta Arenas,CL,41.00,few clouds,-53.15,-70.92,
7,Yevlax,AZ,42.80,overcast clouds,40.61,47.15,
16,Jamestown,US,46.99,broken clouds,42.10,-79.24,
...,...,...,...,...,...,...,...
569,Vostochnyy,RU,42.01,scattered clouds,55.82,37.87,
572,Yumen,CN,48.61,clear sky,40.28,97.20,
574,Roma,US,48.20,overcast clouds,43.21,-75.46,
583,Udachnyy,RU,37.40,broken clouds,66.42,112.40,
586,Sangar,RU,32.83,clear sky,63.92,127.47,

In [12]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather} and {Max Temp}</dd>
</dl>
"""

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
0,Zhangye,CN,49.15,clear sky,38.93,100.45,Zhangye Lvzhou Holiday Inn
3,Ushuaia,AR,37.40,shower rain,-54.80,-68.30,Albatros Hotel
6,Punta Arenas,CL,41.00,few clouds,-53.15,-70.92,Hotel Dreams Del Estrecho
7,Yevlax,AZ,42.80,overcast clouds,40.61,47.15,Yevlax Şeher Heyder Eliyev Parki
16,Jamestown,US,46.99,broken clouds,42.10,-79.24,Hampton Inn & Suites Jamestown

In [15]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
current_weather = hotel_df["Weather"]  
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Create the output file (CSV)
output_data_file = "WeatherPy_vacation.csv"

# Export the City_data into a CSV
hotel_df.to_csv(output_data_file, index_label="City_ID")