In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps
import requests
# Import the API key.
from config import g_key
from config import g_key2
import traceback

In [2]:
import gmaps.datasets
gmaps.configure(api_key=g_key2)

In [3]:
travel_cities_df = pd.read_csv("WeatherPy_vacation.csv")

In [4]:
travel_cities_df.head()

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
0,1,Rikitea,PF,76.98,overcast clouds,-23.12,-134.97,Pension Maro'i
1,5,Saint-Philippe,RE,75.20,broken clouds,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
2,8,Manicore,BR,80.60,light rain,-5.81,-61.30,Pousada da wanda
3,10,Atuona,PF,81.66,clear sky,-9.80,-139.03,Villa Enata
4,14,Alta Floresta,BR,74.16,light rain,-9.88,-56.09,Floresta Amazonica Hotel

In [5]:
first_stop = travel_cities_df.loc[travel_cities_df["City"] == "Port Macquarie"].copy()
first_stop

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
40,117,Port Macquarie,AU,75.0,clear sky,-31.43,152.92,Rydges Port Macquarie

In [6]:
Port_Macquarie = first_stop["Lat"][40], first_stop["Lng"][40]
Port_Macquarie

(-31.43, 152.92)

In [7]:
second_stop = travel_cities_df.loc[travel_cities_df["City"] == "Cairns"].copy()
second_stop

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
35,100,Cairns,AU,82.4,few clouds,-16.92,145.77,Mantra Trilogy Cairns

In [8]:
Cairns = second_stop["Lat"][35], second_stop["Lng"][35]
Cairns

(-16.92, 145.77)

In [9]:
third_stop = travel_cities_df.loc[travel_cities_df["City"] == "Maningrida"].copy()
third_stop

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
43,121,Maningrida,AU,82.47,scattered clouds,-12.07,134.27,Dhukurrdji Lodge

In [10]:
Maningrida = third_stop["Lat"][43], third_stop["Lng"][43]
Maningrida

(-12.07, 134.27)

In [11]:
fourth_stop = travel_cities_df.loc[travel_cities_df["City"] == "Karratha"].copy()
fourth_stop

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
37,109,Karratha,AU,85.86,few clouds,-20.74,116.85,ibis Styles Karratha

In [12]:
Karratha = fourth_stop["Lat"][37], fourth_stop["Lng"][37]
Karratha

(-20.74, 116.85)

In [13]:
# Latitude-longitude pairs
Port_Macquarie = (-31.43, 152.92)
Cairns = (-16.92, 145.77)
Maningrida = (-12.07, 134.27)
Karratha = (-20.74, 116.85)

fig = gmaps.figure()

# Define layers
Port_Macquarie2Karratha = gmaps.directions_layer(Port_Macquarie, Karratha, waypoints=[Cairns, Maningrida],
                                                 travel_mode='DRIVING')
fig = gmaps.figure()
# Add layers to figure
fig.add_layer(Port_Macquarie2Karratha)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
itinerary_df = pd.concat([first_stop, second_stop,third_stop, fourth_stop])
itinerary_df

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
40,117,Port Macquarie,AU,75.00,clear sky,-31.43,152.92,Rydges Port Macquarie
35,100,Cairns,AU,82.40,few clouds,-16.92,145.77,Mantra Trilogy Cairns
43,121,Maningrida,AU,82.47,scattered clouds,-12.07,134.27,Dhukurrdji Lodge
37,109,Karratha,AU,85.86,few clouds,-20.74,116.85,ibis Styles Karratha

In [15]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
0,117,Port Macquarie,AU,75.00,clear sky,-31.43,152.92,Rydges Port Macquarie
1,100,Cairns,AU,82.40,few clouds,-16.92,145.77,Mantra Trilogy Cairns
2,121,Maningrida,AU,82.47,scattered clouds,-12.07,134.27,Dhukurrdji Lodge
3,109,Karratha,AU,85.86,few clouds,-20.74,116.85,ibis Styles Karratha

In [16]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd><br />
<dt>City</dt><dd>{City}<br /></dd><br />
<dt>Country</dt><dd>{Country}<br /></dd><br />
<dt>Current Weather</dt><dd>{Weather} and {Max Temp} °F</dd><br />
</dl>
"""

In [17]:
# Store the DataFrame Rows
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
Port_Macquarie2Karratha = gmaps.directions_layer(
    Port_Macquarie, Karratha, waypoints=[Cairns, Maningrida], show_markers=False,
    stroke_color='red', stroke_weight=3.0, stroke_opacity=1.0)

fig.add_layer(Port_Macquarie2Karratha)
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))